 <!--==================================================================== 
							Start FAQ section
	=====================================================================-->
    <section class="faq-section mb-90">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-6 col-md-6">
                    <div class="faq-image">
                        <img src="images/faq1.jpg" alt="FAQ">
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="faq-wrap ml-50 rml-0">
                        <div class="section-title mb-40">
                            <span class="sub-title">FAQ</span>
                            <h2>Frequently Asked Question</h2>
                        </div>
                        <div id="accordion" class="faq-accordion">
                            <div class="card">
                                <div class="card-header">
                                    <button class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">
                                        <i class="flaticon-chevron"></i>
                                        What is FerraHub ?
                                    </button>
                                </div>
                                <div id="collapseOne" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        elitsed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo do consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <button data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true">
                                        <i class="flaticon-chevron"></i>
                                        Do You Have a Mobile App ?
                                    </button>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">
                                        elitsed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo do consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <button class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                                       <i class="flaticon-chevron"></i>
                                        Do you accept Online Payments?
                                    </button>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        elitsed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo do consequat.
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <button class="collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false">
                                       <i class="flaticon-chevron"></i>
                                        Are you available in South Africa only?
                                    </button>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body">
                                        elitsed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo do consequat.
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--==================================================================== 
                        End FAQ section
=====================================================================-->
