 <!--==================================================================== 
							Start team section
	=====================================================================-->
    <section class="team-section rel mb-65">
        <div class="container">
            <div class="section-title mb-35 pr-65">
                <span class="sub-title">Mobile App</span>
                <h2>Download Our Mobile App</h2>
            </div>

            <div class="team-carousel owl-carousel text-center">

                <div class="team-item">
                    <img src="images/team/F1.JPG" alt="Team Image">
                   
                </div>
                <div class="team-item">
                    <img src="images/team/F2.jpg" alt="Team Image">
                   
                </div>
                <div class="team-item">
                    <img src="images/team/f3.jpg" alt="Team Image">
                  
                </div>
                <div class="team-item">
                    <img src="images/team/f4.jpg" alt="Team Image">
                  
                </div>
                <div class="team-item">
                    <img src="images/team/f5.jpg" alt="Team Image">
                  
                </div>
                <div class="team-item">
                    <img src="images/team/f6.jpg" alt="Team Image">
                 
                </div>
                
            </div>
        </div>
        
        <div class="shape shapeAnimationThree b-30 r-10">
            <img src="images/shapes/shape1.png" alt="Shape">
        </div>
        <div class="shape shapeAnimationTwo t-90 l-10">
            <img src="images/shapes/shape4.png" alt="Shape">
        </div>
        <div class="store">
            <img src="images/app-store.svg" alt="">&nbsp;&nbsp;
            <img src="images/play-store.svg" alt="">
        </div>
        
    </section>
    <!--==================================================================== 
                        End team section
=====================================================================-->
