 <!--==================================================================== 
            Start Our Success Section
        =====================================================================-->
        <section class="success-section pt-105 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="success-box">
                            <i class="flaticon-competition"></i>
                            <div class="count-wrap">
                                <span class="count-text" data-speed="5000" data-stop="25">0</span>
                                <p>Completed Jobs</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="success-box">
                            <i class="flaticon-happy"></i>
                            <div class="count-wrap">
                                <span class="count-text" data-speed="5000" data-stop="20">0</span>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="success-box">
                            <i class="flaticon-admin"></i>
                            <div class="count-wrap">
                                <span class="count-text" data-speed="5000" data-stop="10">0</span>
                                <p>Team Members</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="success-box">
                            <i class="flaticon-startup"></i>
                            <div class="count-wrap">
                                <span class="count-text plus" data-speed="5000" data-stop="5">0</span>
                                <p>Services </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="success-bg"></div>
            <div class="shape shapeAnimationFour r-5 t-100">
                <img src="images/shapes/shape3.png" alt="Shape">
            </div>
        </section>
        <!--==================================================================== 
            End Our Success Section
        =====================================================================-->