<div class="wrap" style="background-color: #000;">


<section class="services-two rel mb-115" >
    <div class="container">
        <div class="service-inner" style="background-image:url(/images/services/bg.png);">

            <div class="section-title text-center mb-15">
                <span class="sub-title">services</span>
                <h2>The Services That We Are Already <br>Providing Successfully</h2>
            </div>

            <div class="service-carousel owl-carousel">
                   
                <div class="service-style-two">
                    <div class="service-image">
                        <img src="images/services/serv1.jpg" alt="Service Image">
                    </div>
                    <div class="service-two-content">
                        <h4><a href="#">Cleaner</a></h4>
                        <p>Adipisicing elitsed do eiusmod tempor incididunt ut labore et</p>
                        <a href="#" class="read-more"><i class="flaticon-logout"></i>Read More</a>
                    </div>
                </div>

                <div class="service-style-two">
                    <div class="service-image">
                        <img src="images/services/serv2.jpg" alt="Service Image">
                    </div>
                    <div class="service-two-content">
                        <h4><a href="#">Barbing</a></h4>
                        <p>Adipisicing elitsed do eiusmod tempor incididunt ut labore et</p>
                        <a href="#" class="read-more"><i class="flaticon-logout"></i>Read More</a>
                    </div>
                </div>

                <div class="service-style-two">
                    <div class="service-image">
                        <img src="images/services/serv3.jpg" alt="Service Image">
                    </div>
                    <div class="service-two-content">
                        <h4><a href="#">Plumber</a></h4>
                        <p>Adipisicing elitsed do eiusmod tempor incididunt ut labore et</p>
                        <a href="#" class="read-more"><i class="flaticon-logout"></i>Read More</a>
                    </div>
                </div>
                
                <div class="service-style-two">
                    <div class="service-image">
                        <img src="images/services/serv4.jpg" alt="Service Image">
                    </div>
                    <div class="service-two-content">
                        <h4><a href="#">Electrician</a></h4>
                        <p>Adipisicing elitsed do eiusmod tempor incididunt ut labore et</p>
                        <a href="#" class="read-more"><i class="flaticon-logout"></i>Read More</a>
                    </div>
                </div>

                <div class="service-style-two">
                    <div class="service-image">
                        <img src="images/services/serv5.jpg" alt="Service Image">
                    </div>
                    <div class="service-two-content">
                        <h4><a href="#">Tiler</a></h4>
                        <p>Adipisicing elitsed do eiusmod tempor incididunt ut labore et</p>
                        <a href="#" class="read-more"><i class="flaticon-logout"></i>Read More</a>
                    </div>
                </div>

                <div class="service-style-two">
                    <div class="service-image">
                        <img src="images/services/serv6.jpg" alt="Service Image">
                    </div>
                    <div class="service-two-content">
                        <h4><a href="#">Trainer</a></h4>
                        <p>Adipisicing elitsed do eiusmod tempor incididunt ut labore et</p>
                        <a href="#" class="read-more"><i class="flaticon-logout"></i>Read More</a>
                    </div>
                </div>

                <div class="service-style-two">
                    <div class="service-image">
                        <img src="images/services/serv7.jpg" alt="Service Image">
                    </div>
                    <div class="service-two-content">
                        <h4><a href="#">Installer</a></h4>
                        <p>Adipisicing elitsed do eiusmod tempor incididunt ut labore et</p>
                        <a href="#" class="read-more"><i class="flaticon-logout"></i>Read More</a>
                    </div>
                </div>

                <div class="service-style-two">
                    <div class="service-image">
                        <img src="images/services/serv8.jpg" alt="Service Image">
                    </div>
                    <div class="service-two-content">
                        <h4><a href="#">Gardener</a></h4>
                        <p>Adipisicing elitsed do eiusmod tempor incididunt ut labore et</p>
                        <a href="#" class="read-more"><i class="flaticon-logout"></i>Read More</a>
                    </div>
                </div>

                <div class="service-style-two">
                    <div class="service-image">
                        <img src="images/services/serv9.jpg" alt="Service Image">
                    </div>
                    <div class="service-two-content">
                        <h4><a href="#">Beauty Technician</a></h4>
                        <p>Adipisicing elitsed do eiusmod tempor incididunt ut labore et</p>
                        <a href="#" class="read-more"><i class="flaticon-logout"></i>Read More</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    <div class="shape shapeAnimationThree b-40 l-10">
        <img src="images/shapes/shape1.png" alt="Shape">
    </div>
    <div class="shape shapeAnimationFive b-5 l-5">
        <img src="images/shapes/shape3.png" alt="Shape">
    </div>
    <div class="shape left-right r-10 b-30">
        <img src="images/shapes/shape5.png" alt="Shape">
    </div>
    <div class="shape shapeAnimationOne r-10 b-0">
        <img src="images/shapes/shape2.png" alt="Shape">
    </div>
</section>
<br>
<!--==================================================================== 
                    End services two section
=====================================================================-->
</div>