<!--==================================================================== 
							Start hero section
	=====================================================================-->
    <section class="hero-section rel pt-220 rpt-150 pb-130 rpb-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7">
                    <div class="hero-content my-50">
                        
                        <h2 class="wow customFadeInUp delay-0-1s slow">Welcome to FerraHub.<br>The Home of Professional Services</h2>
                        <p class="wow customFadeInUp delay-0-3s slow"> Request and connect with trusted, reliable service professionals in your area in minutes.</p>
                        <a href="#" class="theme-btn btn-big wow customFadeInUp delay-0-5s slow">Try Us Now</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="hero-img">
                        <img src="images/hero/slde.png" alt="Hero Image">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="shape shapeAnimationOne l-10 t-60">
            <img src="images/shapes/shape1.png" alt="Shape">
        </div>
        <div class="shape shapeAnimationTwo l-70 t-60">
            <img src="images/shapes/shape2.png" alt="Shape">
        </div>
        <div class="shape shapeAnimationThree l-50 t-100">
            <img src="images/shapes/shape3.png" alt="Shape">
        </div>
    </section>
    <!--==================================================================== 
                        End hero section
=====================================================================-->