<section class="about-section rel mb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-content mr-20 rmr-0 rmb-50 wow customFadeInRight delay-0-1s slow">
                    <div class="section-title mb-35">
                        <span class="sub-title">About</span>
                        <h2>FerraHub the Home of Quality Services</h2>
                    </div>
<p>We are FerraHub and we are here to help you find the services that you need on a daily basis.
We do this utilizing inventive technology mixed with extraordinary client administration
</p>
<p>FerraHub has a team of brilliant individuals who are committed to 
the worldwide aspirations of the business.
The team strives to maintain a communitarian, family-like 
methodology with shared obligation and enthusiasm for everyone using the service.
</p>
                    <a href="#" class="theme-btn mt-20">Learn More</a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-image wow customFadeInLeft delay-0-1s slow">
                    <img src="images/about/about1.png" alt="about image">
                </div>
            </div>
        </div>
    </div>
    
    <div class="shape shapeAnimationFour l-10 t-5">
        <img src="images/shapes/shape4.png" alt="Shape">
    </div>
    <div class="shape shapeAnimationFive r-10 t-100 zm-1">
        <img src="images/shapes/shape2.png" alt="Shape">
    </div>
</section>
<!--==================================================================== 
                    End About Section
=====================================================================-->

