<!--==================================================================== 
							Start Services Page Section One
	=====================================================================-->
    <section class="sps-one pt-120 mb-70 rmb-100">
           
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="service-right-content mt-50 ml-50 rml-0 rmb-50 wow customFadeInRight delay-0-1s slow">
                        <div class="section-title style-three mb-15">
                            <span class="sub-title">Ui/UX Design</span>
                            <h3>We Offer UX/UI Design Services</h3>
                        </div>
                        <p>Consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo do consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla paria tur. <br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-left-image wow customFadeInLeft delay-0-1s slow">
                        <img src="images/services/s1.png" alt="Service image">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--==================================================================== 
                        End Services Page Section One
=====================================================================-->


    
<!--==================================================================== 
                        Start Services Page Section Two
=====================================================================-->
    <section class="sps-two mb-50 rmb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="service-left-content mr-50 rmr-0 rmb-50 wow customFadeInLeft delay-0-1s slow">
                        <div class="section-title style-three mb-15">
                            <span class="sub-title">Web Development</span>
                            <h3>We Provide Quality Web Development Service at Low Cost</h3>
                        </div>
                        <p>Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante. </p>
                        <p>Congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-right-image wow customFadeInRight delay-0-1s slow">
                        <img src="images/services/s2.png" alt="Service image">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--==================================================================== 
                        End Services Page Section Two
=====================================================================-->


    
<!--==================================================================== 
                        Start Services Page Section Three
=====================================================================-->
    <section class="sps-three mb-50 rmb-100">
       
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="service-right-content ml-50 rml-0 rmb-50 wow customFadeInRight delay-0-1s slow">
                        <div class="section-title style-three mb-15">
                            <span class="sub-title">Apps Development</span>
                            <h3>We Have a Huge Reputation in Mobile Apps Development</h3>
                        </div>
                        <p>Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante. <br>
                        Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-left-image wow customFadeInLeft delay-0-1s slow">
                        <img src="images/services/s3.png" alt="Service image">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--==================================================================== 
                        End Services Page Section Three
=====================================================================-->


    
<!--==================================================================== 
                        Start Services Page Section Four
=====================================================================-->
    <section class="sps-four mb-75 rmb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="service-left-content mr-50 rmr-0 rmb-50 wow customFadeInLeft delay-0-1s slow">
                        <div class="section-title style-three mb-15">
                            <span class="sub-title">Marketing</span>
                            <h3>We Have Skilled Manpower in Online Marketing</h3>
                        </div>
                        <p>Nunc sem lacus, accumsan quis, faucibus non, congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis. Vivamus a mauris eget arcu gravida tristique. Nunc iaculis mi in ante. </p>
                        <p>Congue vel, arcu. Ut scelerisque hendrerit tellus. Integer sagittis.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-right-image wow customFadeInRight delay-0-1s slow">
                        <img src="images/services/s4.png" alt="Service image">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--==================================================================== 
                        End Services Page Section Four
=====================================================================-->



    
<!--==================================================================== 
                        Start Services Page Section Five
=====================================================================-->
    <section class="sps-five mb-150 rmb-50">
       
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="service-right-content ml-50 rml-0 rmb-50 wow customFadeInRight delay-0-1s slow">
                        <div class="section-title style-three mb-15">
                            <span class="sub-title">Content Writing</span>
                            <h3>There Are Also Experienced Content Writers</h3>
                        </div>
                        <p>Consectetur adipisicing elitsed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo do consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla paria tur.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="service-left-image wow customFadeInLeft delay-0-1s slow">
                        <img src="images/services/s5.png" alt="Service image">
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--==================================================================== 
                        End Services Page Section Five
=====================================================================-->
