<section class="contact-info text-center pt-115 rpt-60 rmb-60">
    <div class="container">
    
        <div class="get-in-touch">
            <div class="contact-item">
                <span style="color: red; font-weight:700">Mission</span>
                <p>
                    <ul style="list-style: none;">
                        <li>Responsibility</li>
                        <li>Accountability</li>
                        <li>Service</li>
                    </ul>
                   
                </p>
             
            </div>
            <div class="contact-item">
                <span style="color: red; font-weight:700">Vision</span>
              <p>
                At FerraHub we strive to promote professionals and provide day to
                 day service solutions so that every customer can choose the best pro for the job
              </p>
            </div>
            <div class="contact-item">
                <span style="color: red; font-weight:700">Values</span>
                <p>
                    Our vision is to become a leading service provider by 
                    consistently promoting professionals and providing reliable service daily
                </p>
            </div>
        </div>
    </div>
</section>