
    <!--==================================================================== 
                            Start Testimonials section
    =====================================================================-->
    <section class="testimonials-section rel text-center mb-115">
        <div class="container">
            <div class="testimonials-wrap">
                <div class="section-title mb-40">
                    <span class="sub-title">testimonials</span>
                    <h2> Feedback From Our Clients</h2>
                </div>
                
                <div class="testimonial-two-wrap">
                    <div class="testi-two-item">
                       <i class="flaticon-quote"></i>
                        <p>Happy to give FerraHub cleaning Pro's a 5 star rating Great Work.</p>
                        <div class="author-info">
                            <div class="author-img">
                                <img src="images/testimonials/testi1.png" alt="Testimonial Author">
                            </div>
                            <div class="author-about">
                                <h4>Lekan</h4>
                                <h6>South Africa</h6>
                                <div class="rattings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi-two-item">
                       <i class="flaticon-quote"></i>
                        <p>Please note that i was satisfied with your cleaners work. Please assign her tome next time</p>
                        <div class="author-info">
                            <div class="author-img">
                                <img src="images/testimonials/testi2.png" alt="Testimonial Author">
                            </div>
                            <div class="author-about">
                                <h4>Ms Precious</h4>
                                <h6>South Africa</h6>
                                <div class="rattings">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testi-two-item">
                        <i class="flaticon-quote"></i>
                         <p>A wonderful job done and i'm happy</p>
                         <div class="author-info">
                             <div class="author-img">
                                 <img src="images/testimonials/testi2.png" alt="Testimonial Author">
                             </div>
                             <div class="author-about">
                                 <h4>Mr Roxy</h4>
                                 <h6>South Africa</h6>
                                 <div class="rattings">
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                 </div>
                             </div>
                         </div>
                     </div>

                     <div class="testi-two-item">
                        <i class="flaticon-quote"></i>
                         <p>I'm very very very Happy</p>
                         <div class="author-info">
                             <div class="author-img">
                                 <img src="images/testimonials/testi2.png" alt="Testimonial Author">
                             </div>
                             <div class="author-about">
                                 <h4>Mr Alana</h4>
                                 <h6>South Africa</h6>
                                 <div class="rattings">
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                     <i class="fa fa-star"></i>
                                 </div>
                             </div>
                         </div>
                     </div>
                </div>
                
            </div>
        </div>
        <div class="shape shapeAnimationFive r-20 t-5">
            <img src="images/shapes/shape2.png" alt="Shape">
        </div>
        <div class="shape left-right l-5 t-100">
            <img src="images/shapes/shape5.png" alt="Shape">
        </div>
        <div class="shape shapeAnimationOne r-5 t-100">
            <img src="images/shapes/shape3.png" alt="Shape">
        </div>
    </section>
    <!--==================================================================== 
                        End Testimonials section
=====================================================================-->

